body{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=974&q=80');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(240,239,239);
    background: radial-gradient(circle, rgba(240,239,239,0.6250875350140056) 0%, rgba(255,246,209,0.6054794520547946) 100%);
    color: black;
    padding: 10px;
}

.clock{
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock  span{
    width: 100px;
    height: 80px;
    background-color: rgba(90, 178, 205, 0.411);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(61, 155, 74, 0.705);
}

.clock #ampm{
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 60px;
    background-color: rgba(0, 128, 0, 0.774);
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: green;
  }
  